* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
}

:root {
  --dark-blue: #0000ff;
  --light-blue: #add8e6;
}
.App {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/back.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  color: #fff;
  padding: 1em;
}
.search-group {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(228, 242, 247);
  border-radius: 10px;
  overflow: hidden;
}
.search-control {
  width: 100%;
  height: 2.5em;
  padding: 1em;
  font-size: 18px;
  border: 1px solid rgb(228, 242, 247, 0.5);
  background: rgb(228, 242, 247);
  color: #000;
  border-right: 2px solid rgb(0, 0, 71);
}
.search-control::placeholder {
  color: #343434;
  font-style: italic;
}
.search-control:focus {
  border: none;
  outline: none;
}
.search-btn {
  height: 3em;
  width: 3em;
  background: rgb(228, 242, 247);
  border: none;
}
.search {
  font-size: 1.2em;
  font-weight: 700;
  color: rgb(0, 0, 71);
}
/*===  current weather display  ===*/
.currentWeather {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1.5em;
}
.CurrentWeatherDetails {
  display: grid;
  grid-template-columns: repeat(4, auto);
  background-color: rgb(228, 242, 247);
  color: #000;
  padding: 1em;
  border-radius: 10px;
  gap: 10px;
}
.CurrentWeatherDetails span {
  font-size: 20px;
}
.mid-icon {
  height: 64px;
  width: 64px;
  object-fit: cover;
}
.large-icon {
  height: 10em;
  width: 10em;
  object-fit: cover;
}

/* forecast*/
.desc {
  text-transform: capitalize !important;
  line-height: 1;
}
.hourForecast {
  background-color: transparent;
  padding: 1em;
  border-radius: 10px;
  color: rgb(228, 242, 247);
  overflow-x: auto;
}

.hourcard {
  height: 200px;
  width: 200px;
  margin-right: 15px;
  background-color: rgb(228, 242, 247) !important;
}

.hourForecast::-webkit-scrollbar, .dailyForecast::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}
.hourForecast::-webkit-scrollbar-track, .dailyForecast::-webkit-scrollbar-track {
  background-color: rgb(228, 242, 247) !important;
  border-radius: 15px;
}
.hourForecast::-webkit-scrollbar-thumb, .dailyForecast::-webkit-scrollbar-thumb {
  background: #868686;
  border-radius: 15px;
}
.hourForecast::-webkit-scrollbar-thumb:hover, .dailyForecast::-webkit-scrollbar-thumb:hover {
  background: #343434;
}


/* daily forecast */
.dailycard{
  height:200px !important;
  width: 100%;
  background-color: transparent !important;
  display: flex;
  flex-direction: column; 
  border: 1px solid #000;
  padding: 1em;
  border-radius: 10px;
}
.dailyForecast {
  height: 85vh;
  background-color: #e4f2f7;
  padding: 1em;
  border-radius: 10px;
  color: #000;
  overflow-y: auto;
}
.dailycard p{
  line-height: .5;
}
hr{
  line-height: 1;
}
.city {
  display: flex;
  flex-direction: column;
  line-height: 1;
}
.city h1 {
  font-size: 3em;
}
.city p {
  font-size: 1em;
}
.current-info {
  display: flex;
  gap: 2em;
  align-items: center;
}
.current-info h3 {
  font-size: 5em;
  font-weight: 700;
}
.current-info p {
  font-size: 1.2em;
}

.current-weather-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  font-size: 20px;
}
@media (max-width: 992px) {
  .city h1 {
    font-size: 2em;
  }

  .current-info h3 {
    font-size: 3em;
  }
  .current-info p {
    font-size: 1em;
  }
.dailyForecast{
  height: 50vh;
}

  
}
